/*************************************************************************************************/
/*                                       Tag Selectors                                           */
/*************************************************************************************************/
body{
  text-align: center;
  margin: 0;
  overflow-x: hidden;
}

hr {
  border-color: #fff;
  border-style: solid none none;
}

p {
  font-family: 'Helvetica', sans-serif;
  font-size: 1.1rem;
  color: #3c4245;
}

a{
  font-family: 'Helvetica', sans-serif;
  font-size: 1.2rem;
}

/*************************************************************************************************/
/*                                 Class & ID Selectors                                          */
/*************************************************************************************************/

/* Alignments */
.center-align {
  text-align: center;
}

.left-align{
  text-align: left;
}

/* Containers */
.container-fluid {
  padding: 0;
}

.container {
  padding: 2% 2%;
}

.section-container{
  padding: 4.5% 12%;
}

.home-container{
  padding: 4% 5%;
}

/* Background Colors */
.bg-dark-black{
  background-color: #222831;
}

.bg-light-black{
  background-color: #393e46;
}

.bg-light-grey{
  background-color: #E0E0E0;
}

.bg-beige{
  background-color: #ece8d9;
}

.bg-cream{
  background-color: #faf6e9;
}

.bg-charcoal{
  background-color: #41444b;
}

.bg-sand{
  background-color: #cabfab;
}

/* Text Colors */
.text-black{
  color: #333;
}

.text-night-black{
  color: #101010;
}

.text-full-black{
  color: #000;
}

.text-white{
  color: #fff;
}

.text-intial{
  color: #000;
  font-family: 'Tangerine', cursive;
  font-size: 3.3rem;
}

.text-sticky-note{
  color: #856404;
  font-family: 'Halant', serif;
}

/* Text Shadows */
.amethyst-shadow{
  text-shadow: 1px 1px #8559a5;
}

.ocean-shadow{
  text-shadow: 1px 1px #00334e;
}

.grey-shadow{
  text-shadow: 1px 1px #808080;
}

.full-black-shadow{
  text-shadow: 2px 2px #000
}

/* Text Size */
.text-big{
  font-size: 1.7rem;
}

.text-small{
  font-size: 0.8rem;
}

.text-ad-description{
  font-size: 0.87rem;
  margin-top: 0.5rem;
  max-width: 200px;
}

.text-lessons{
  font-size: 1.2rem;
}

/* Images */
.giordan-logo{
  margin: 10px 1px 6px;
  width: 10rem;
}

.home-container .giordan-logo{
  margin: 10px 1px 6px;
  padding-bottom: 1.5rem;
  width: 40rem;
}

.math-operators {
  padding-top: 2rem;
  max-width: 280px;
}

/* Underline */
.underline {
  text-decoration: underline;
}

.custom-black-underline {
  border-bottom: 3px solid #1a1a1a;
}

.custom-white-underline {
  border-bottom: 3px solid #fff;
}

/* Headings */
.table-for-headers{
  margin: auto;
}

.table-for-sub-headers{
  margin-bottom: 1rem;
}

.section-header{
  font-family: 'Marck Script', cursive;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}

.sub-header{
  font-family: 'Helvetica', sans-serif;
  font-size: 2.1rem;
  font-weight: bold;
}

/* Information */
.logo-description{
  margin: 0.8rem auto;
  max-width: 800px;
}

/* Vertical Navigation sidebar */
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem  0.3rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

/* Page Content */
#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin: 0;
}

/* Carousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 30px;
  max-width: 30px;
}

.carousel-indicators {
  bottom:-50px;
}

.carousel-inner {
  margin-bottom:50px;
}

.carousel-information {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  max-width: 28rem;
  vertical-align: middle;
}

/* Footer Section*/
#footer{
  padding: 2% 0 1.6%;
}

.footer-info {
  margin: auto;
  padding: 0 0 20px;
  max-width: 40%;
}

.social-icon {
  padding: 0 0.7rem 0.8rem;
  color: white;
}

/*************************************************************************************************/
/*                                  Pseudo Class Selectors                                       */
/*************************************************************************************************/

::-webkit-scrollbar {
    background-color: #333333 ;
    max-width: 14px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


/*************************************************************************************************/
/*                                  Mobile Code                                       ``         */
/*************************************************************************************************/
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
